@CHARSET "UTF-8";

/* Header */

#header {
	position: relative;
	padding: 3em 0em;
}

/* Logo */
#logo {
	position: absolute;
	top: 3em;
	left: 0em;
}

#logo h1 {
	float: left;
}

#logo h1 a{
	padding: 0.5em 0.25em 0em 0em;
	text-decoration: none;
	text-transform: none;
	font-family: 'Oswald', sans-serif;
	font-size: 2.5em;
	font-weight: 200;
	color: #151278;
}

#logo span {
	float: left;
	padding: 1em 0em 0em 0em;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1em;
	font-style: italic;
	color: #4374D9;
}

/* Menu Bar */
#nav {
	position: absolute;
	top: 3em;
	right: 0;
}

#nav ul {
	float: right;
	text-align: center;
}

#nav li {
	display: inline-block;
}

#nav a {
	display: block;
	float: left;
	margin-right: 0.12em;
	padding: 0.75em 1.5em;
	text-decoration: none;
	text-transform: none;
	font-family: 'Abel', sans-serif;
	font-size: 1.25em;
	color: #2C2C2C;
}

#nav .current_page_item {
	color: #2C2C2C;
}

#nav .current_page_item a {
	background: #212121;
	color: #FFFFFF;
	box-shadow: inset 0px -15px 10px 0px rgba(0,0,0,0.25);
	text-shadow: none;
}

/* Banner */
#banner {
	overflow: hidden;
	margin: 3em 0em;
}

#banner .container {
	margin-bottom: 3em;
	padding: 1.87em;
}

#banner a img {
	display: block;
	width: 100%;
}