<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- DTO에 대한 축약형 등록 -->
	<typeAliases>
	<typeAlias type="com.example.dto.Users" alias ="users"/>
	<typeAlias type="com.example.dto.Comments" alias ="comments"/>
	<typeAlias type="com.example.dto.CommentReply" alias ="commentReply"/>
	<typeAlias type="com.example.dto.Review" alias ="review"/>
	<typeAlias type="com.example.dto.ReviewReply" alias ="reviewReply"/>
	<typeAlias type="com.example.dto.Route" alias ="route"/>
	<typeAlias type="com.example.dto.Qna" alias ="qna"/>
	<typeAlias type="com.example.dto.Answer" alias ="answer"/>
	
	</typeAliases>
	
	<mappers>
	
	<mapper resource="mybatis/mapper/UsersMapper.xml" />
	<mapper resource="mybatis/mapper/CommentsMapper.xml" />
	<mapper resource="mybatis/mapper/CommentReplyMapper.xml" />
	<mapper resource="mybatis/mapper/ReviewMapper.xml" />
	<mapper resource="mybatis/mapper/ReviewReplyMapper.xml" />
	<mapper resource="mybatis/mapper/QnaMapper.xml" />
	<mapper resource="mybatis/mapper/AnswerMapper.xml" />
	<mapper resource="mybatis/mapper/RouteMapper.xml" />
	</mappers>

</configuration>