@CHARSET "UTF-8";

/* My Page CSS Style */

	/* My Page _ My Post CSS Style */
	
		h2.mypage_mypost_title {
			display: block;
			font-family: "Nanum Gothic";
			font-size: 2em;
			font-weight: bold;
			color: #3d4449;
			border-bottom: 2px dashed #F5696A;
			padding-bottom: 0.5em;
			padding-left: 1em;
		}
		
		/* Table */
		
			table.mypage_mypost_viewTable th, table.mypage_mypost_viewTable td{
				border: 1px solid black;
			}
			
			table.mypage_mypost_viewTable th {
				vertical-align: middle;
			}
			
			table.mypage_mypost_viewTable td {
				padding-bottom: 0.5em;
			}