<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.CommentMapper">
	<!-- 단일 게시글 보기 -->
	<select id="select" parameterType="int" resultMap="commentsBase">
		select * from
		comments where comment_no= #{commentNo}
	</select>
	<!-- 게시글 쓰기(공지사항:관리자) 분류별 필요 -->
	<insert id="insert" parameterType="Map">
		insert into comments values
		(seq_comment_comment_no.nextval,#{commentCategory}
		,#{commentName},#{commentContent},sysdate,0,#{userId})
	</insert>
	<!-- 게시글 수정 -->
	<update id="update" parameterType="Map">
		update comments set
		comment_name=#{commentName},
		comment_content=#{commentContent}
		where
		comment_no=#{commentNo}
	</update>
	<!-- 게시글 삭제 -->
	<delete id="delete" parameterType="int">
		delete from comments where
		comment_no=#{commentNo}
	</delete>
	<!-- 페이지당 리스트를 보여줌(분류별로 해야할듯) -->
	<select id="selectList" parameterType="Map" resultMap="commentsBase">
		select *
		from(select sub.*,rownum rnum from
		(select * from comments where
		comment_category=#{commentCategory} order by
		comment_no desc) sub)
		where
		rnum between #{page}*10-9 and #{page}*10
	</select>


	<!-- 페이지당 리스트를 보여줌(분류별/이름/검색 ) -->
	<select id="searchListByName" parameterType="Map" resultMap="commentsBase">
		select *
		from(select sub.*,rownum rnum from
		(select * from comments
		where
		comment_category=#{commentCategory}
		and comment_name like
		#{commentName} order by
		comment_no desc) sub)
		where
		rnum between
		#{page}*10-9 and #{page}*10
	</select>

	<!-- 페이지당 리스트를 보여줌(분류별/내용/검색 ) -->
	<select id="searchListByContent" parameterType="Map" resultMap="commentsBase">
		select *
		from(select sub.*,rownum rnum from
		(select * from comments
		where
		comment_category=#{commentCategory}
		and comment_content like
		#{commentContent} order by
		comment_no desc) sub)
		where
		rnum between
		#{page}*10-9 and #{page}*10
	</select>

	<!-- 페이지당 리스트를 보여줌(분류별/닉네임/검색 ) -->
	<select id="searchListByNick" parameterType="Map" resultMap="commentsBase">
		select *
		from(select sub.*,rownum rnum from
		(select * from comments c
		join users u on u.user_id = c.user_id
		where
		comment_category=#{commentCategory}
		and user_nick like #{userNick}
		order by
		comment_no desc) sub)
		where
		rnum between #{page}*10-9 and
		#{page}*10
	</select>
	<!-- 조회수 1을 증가시킴 -->
	<update id="countUpdate" parameterType="int">
		update comments set
		comment_count=
		(select comment_count from
		comments where
		comment_no=#{commentNo})+1
		where comment_no = #{commentNo}
	</update>

	<resultMap type="comments" id="commentsBase">
		<id column="comment_no" property="commentNo" />
		<result column="comment_category" property="commentCategory" />
		<result column="comment_name" property="commentName" />
		<result column="comment_content" property="commentContent" />
		<result column="comment_date" property="commentDate" />
		<result column="comment_count" property="commentCount" />
		<result column="user_id" property="userId" />
	</resultMap>
</mapper>