<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 경로는 게시판이 따로없고 자신이 쓴건 자신만볼 수 있고, 
만들기,수정,삭제 가능 후기게시판에 연동시킨건 다른사람도 볼 수 있다. -->
<mapper namespace="com.example.RouteMapper">
	
	


<!-- 
	<resultMap type="route" id="routeBase">
		<id column="route_no" property="routeNo" />
		<result column="route_name" property="routeName" />
		<result column="route_content" property="routeContent" />
		<result column="route_date" property="reviewDate" />
		<result column="review_star" property="reviewStar" />
		<result column="review_count" property="reviewCount" />
		<result column="route_no" property="routeNo" />
		<result column="user_id" property="userId" />
	</resultMap>

	<resultMap type="route" id="routeUsers" extends="routeBase">
		<association property="users" column="user_id" javaType="users"
			resultMap="com.example.UserMapper.usersBase"></association>
	</resultMap>
 -->
</mapper>