<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 경로는 게시판이 따로없고 자신이 쓴건 자신만볼 수 있고, 만들기,수정,삭제 가능 후기게시판에 연동시킨건 다른사람도 볼 수 
	있다. -->
<mapper namespace="com.example.RouteMapper">

	<select id="select" parameterType="int" resultMap="routeUsers">
		select * from
		route r
		join users u on u.user_id=r.user_id
		where route_no = #{routeNo}
	</select>
	
	<insert id="insert" parameterType="Map">
		insert into
		route(route_name,route_content
		,route_full,route_date,user_id)
		values
		(TO_CHAR(SYSDATE, 'YYYY"년"MM"월"DD"일에 저장한 경로"' )
		,'메모작성을 할 수 있습니다',#{routeFull},sysdate,#{userId})
	</insert>

	<update id="update" parameterType="Map">
		update route set route_name=#{routeName}
		,route_content=#{routeContent}
		,route_full=#{routeFull} 
		where route_no=#{routeNo}
	</update>

	<delete id="delete" parameterType="int">
	delete from route where
	route_no=#{routeNo}
	</delete>

	<!-- 아이디별 페이지 카운팅 -->
	<select id="pageCountbyId" parameterType="String" resultType="int">
		select count(*) from route where user_id=#{userId}
	</select>
	
<!-- 마이페이지 내가 작성한 경로보기 기능 -->


<!--경로테이블에서 내아이디로 조회 -->
	<select id="selectRouteById" parameterType="String" resultMap="routeUsers">
		select * from route r join users u on u.user_id=r.user_id where r.user_id = #{userId}
	</select>
	 
	
	
	<!-- 마이페이지에서 아이디로 조회 -->
	<select id="selectRouteByIdForMypage" parameterType="Map" resultMap="routeUsers">
		select *
		from(select sub.*,rownum rnum from
		(select * from route r
		join users u
		on u.user_id=r.user_id
		where r.user_id = #{userId}
		order by
		route_no desc) sub)
		where rnum
		between
		#{page}*3-2 and #{page}*3
	</select>


<!-- 메인에 띄워줄 최근경로 4개 -->
<select id="selectMainList" resultMap="routeBase" >
select * from route 
where rownum between 1 and 4 
order by route_no desc
</select>

	<resultMap type="route" id="routeBase">
		<id column="route_no" property="routeNo" />
		<result column="route_name" property="routeName" />
		<result column="route_content" property="routeContent" />
		<result column="route_full" property="routeFull" />
		<result column="route_date" property="routeDate" />
		<result column="user_id" property="userId" />
	</resultMap>

	<resultMap type="route" id="routeUsers" extends="routeBase">
		<association property="users" column="user_id" javaType="users"
			resultMap="com.example.UserMapper.usersBase"></association>
	</resultMap>
	
	
</mapper>