<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.UserMapper">
	<!-- 회원가입을 위한 insert -->
	<insert id="insert" parameterType="users">
		insert into users
		values(#{userId},#{userPass},#{userName},
		#{userEmail},#{userPhone},#{userNick})
	</insert>

	<!-- 로그인 기능 -->
	<select id="selectById" resultMap="usersBase" parameterType="String">
		select * from users where user_id = #{userId}
	</select>

	<!-- id찾기 기능 이름&Email로 id만 찾음 -->
	<select id="selectByNameAndEmail" resultType="String"
		parameterType="Map">
		select user_id from users where user_name = #{userName}
		and user_email = #{userEmail}
	</select>

	<!-- 비번찾기 기능 id&이름&Email로 비번만찾음 -->
	<select id="selectPass" resultType="String" parameterType="Map">
		select user_pass from users where
		user_id =#{userId} and
		user_name =
		#{userName} and
		user_email = #{userEmail}
	</select>

	<!-- 정보수정 기능 비번/연락처/이메일/닉네임 변경기능 -->
	<update id="update" parameterType="Map">
		update users set
		user_pass=#{userPass}
		,user_phone=#{userPhone}
		,user_email=#{userEmail}
		,user_nick=#{userNick} where user_id=#{userId}
	</update>

	<!-- 마이페이지 내가 작성한 후기보기 기능 -->
	<!--후기테이블에서 내아이디로 조회 -->
	<select id="selectReviewById" parameterType="String" resultType="review">
		select * from review where user_id = #{userId}
	</select>
	<!-- 마이페이지 내가 작성한 경로보기 기능 -->
	<!--경로테이블에서 내아이디로 조회 -->
	<select id="selectRouteById" parameterType="String" resultType="route">
		select * from route where user_id = #{userId}
	</select>
	<!-- 마이페이지 내가 작성한 질문보기 기능 -->
	<!--질문테이블에서 내아이디로 조회 -->
	<select id="selectQnaById" parameterType="String" resultType="Qna">
		select * from qna where user_id = #{userId}
	</select>
	<!-- 마이페이지 내가 작성한 답변보기 기능 -->
	<!--답변테이블에서 내아이디로 조회 -->
	<select id="selectAnswerById" parameterType="String" resultType="Answer">
		select * from answer where user_id = #{userId}
	</select>

	<resultMap type="users" id="usersBase">
		<id column="user_id" property="userId" />
		<result column="user_pass" property="userPass" />
		<result column="user_name" property="userName" />
		<result column="user_email" property="userEmail" />
		<result column="user_phone" property="userPhone" />
		<result column="user_nick" property="userNick" />
	</resultMap>
</mapper>